<div *ngIf="isLoading" class="flex justify-center w-screen min-h-screen">
  <span class="loading loading-ring loading-lg"></span>
</div>
<div *ngIf="!isLoading" class="grid grid-cols-5 min-h-screen">
  <div class="col-span-2 flex items-center justify-center h-full">
    <img
      class="place-content-center h-96 w-96"
      [src]="productDetails?.image"
      alt="product_img"
    />
  </div>
  <div class="flex flex-col col-span-3 items-center justify-center">
    <div class="text-left text-3xl w-full m-[5vh]">
      {{ productDetails?.title }}
    </div>
    <div class="w-full text-left text-2xl">
      {{ "$ " + productDetails?.price }}
    </div>
    <div class="text-left text-sm mr-[10vh]">
      {{ productDetails?.description }}
    </div>
    <div class="flex justify-start w-full mt-[3vh]">
      <button class="btn btn-primary" (click)="handleAddToCart()">
        Add to Cart
      </button>
    </div>
  </div>
</div>
<div *ngIf="addedTocart" class="toast">
  <div class="alert alert-info">
    <span>Added to Your Cart</span>
  </div>
</div>
